/*
Genome configuration file

Essentially a JSON file that is traversed for the correct
sequence files using 'params.genome'.
*/

params {
    genomes {
        'HG38' {
            fasta           = '/localscratch/Programs/bcbio/genomes/Hsapiens/hg38/seq/hg38.fa'
            gtf             = '/localscratch/Programs/bcbio/genomes/Hsapiens/hg38/rnaseq/ref-transcripts.gtf'
            bed             = '/localscratch/Programs/bcbio/genomes/Hsapiens/hg38/rnaseq/ref-transcripts.bed'
            starIdx         = '/localscratch/Programs/bcbio/genomes/Hsapiens/hg38/star/'
            hisat2Idx       = '/localscratch/Programs/bcbio/genomes/Hsapiens/hg38/hisat2/'
        }
        'GRCH37' {
            fasta           = '/localscratch/Programs/bcbio/genomes/Hsapiens/GRCh37/seq/hg19.fasta'
            gtf             = '/localscratch/Programs/bcbio/genomes/Hsapiens/GRCh37/rnaseq/hg19.gtf'
            bed             = '/localscratch/Programs/bcbio/genomes/Hsapiens/GRCh37/rnaseq/hg19.bed'
            starIdx         = '/localscratch/Programs/bcbio/genomes/Hsapiens/GRCh37/star/'
            hisat2Idx       = '/localscratch/Programs/bcbio/genomes/Hsapiens/GRCh37/hisat2/'
        }
    }
}
